    <div class="user-account-nav user-account-sidebar">
        <div class="user-nav-list">
            <ul>
                <li class="{% if '/custDashboard/' == request.path or '/customers/' == request.path %}active {% endif %}"><a href="{% url 'custDashboard' %}"><i class="icon-dashboard3"></i>Dashboard</a></li>
                <li class="{% if 'profile' in request.path %}active {% endif %}"><a href="{% url 'cprofile' %}"><a href="{% url 'cprofile' %}" class="btn-edit-profile"><i class="icon-build"></i>Account Settings</a></li>
                <li class="{% if 'sprofile' in request.path %}active {% endif %}"><a href="{% url 'vprofile' %}"><a href="{% url 'cprofile' %}" class="btn-edit-profile"><i class="icon-add_shopping_cart"></i>My Orders</a></li>
                <li class="{% if 'sprofile' in request.path %}active {% endif %}"><a href="{% url 'vprofile' %}"><a id="" href="{% url 'cprofile' %}"><i class="icon-lock"></i>Change Password</a></li>
                <li><a href="{% url 'vprofile' %}"><a href="{% url 'logout' %}"><i class="icon-log-out"></i>Sign out</a></li>
            </ul>
        </div>
    </div>
